
.brandSliderOne {
    padding: 30px 0 110px;
    border-bottom: 1px solid $border-color;

    .brand-logo {
        text-align: center;
    }
}

.brandSliderTwo {
    padding: 30px 0 0px;
    border-bottom: 0px;

    .brand-logo {
        text-align: center;
    }
}


.brand-slider-wrapper {
    &.style1 {
        .single-section-title {
            font-size: 24px;
        }
    }

    &.style2 {
        .single-section-title {
            font-size: 24px;
        }
    }
}

