/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/
.theme-btn {
    display: inline-block;
    position: relative;
    padding: 20px 36px;
    gap: 10px;
    color: $white;
    font-family: $body-font;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: $theme-color;
    z-index: 1;
    line-height: 1;
    overflow: hidden;
    border: none;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    i,svg {
        margin-left: 6px;
    }

    &:before {
        transition-duration: 800ms;
        position: absolute;
        width: 210%;
        height: 290%;
        content: "";
        top: 162%;
        left: 50%;
        background: $title-color;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%) rotate(-8deg);
        border-radius: 80%;
        z-index: -1;
    }


    &.style2 {
        display: inline-block; 
        background: transparent;
        border: 1px solid $border-color-5;
        color: $title-color;
        
        i,svg {
            margin-left: 6px;
        }
        &:before {
            transition-duration: 800ms;
            background: $theme-color;
        }

        svg path,
        svg rect {
            fill: $title-color;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
        }

        &:hover {

            svg path,
            svg rect {
                fill: $white;
            }
        }
    }
    &.style3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent!important;
        border: 1px solid $white;
        color: $white;

        i,svg {
            margin-left: 6px;
            color: $white; 
        }

        &:before {
            transition-duration: 800ms;
            background: $theme-color;
        }

        svg path,
        svg rect {
            fill: $white;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
        }

        &:hover {

            svg path,
            svg rect {
                fill: $white;
            }
        }
    }
  
    &.style4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $theme-color;
        color: $white;
        border: 1px solid $border-color-4;

        &:before {
            transition-duration: 800ms;
            background: $title-color;
            color: $white;
        }

        svg path,
        svg rect {
            fill: $title-color;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
        }

        &:hover {
            color: $white !important;

            svg path,
            svg rect {
                fill: $white;
            }
        }
    }

    &.style5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $title-color!important;
        border: 1px solid $white;
        color: $white;

        i,svg {
            margin-left: 6px;
            color: $white; 
        }

        &:before {
            transition-duration: 800ms;
            background: $theme-color;
        }

        svg path,
        svg rect {
            fill: $white;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
        }

        &:hover {

            svg path,
            svg rect {
                fill: $white;
            }
        }
    }
    &:hover {
        color: $white !important;

        &:before {
            top: -96%;
        }
    }
}




.slider-arrow-btn {
    display: flex;
    gap: 15px;
}

.slider-arrow {
    &.style1 {
        display: inline-block;
        width: 56px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        background: $theme-color;
        color: $white;
        margin-top: -0.4em;
        box-shadow: 0px 10px 30px 0px rgba(52, 55, 170, 0.15);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        @include transition;

        &:hover {
            background: $white;
            color: $theme-color;
            box-shadow: 0px 10px 30px 0px rgba(52, 55, 170, 0.15);
        }

        &.style2 {
            background: $theme-color-2;
            color: $title-color;

            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
    }
}
 

.link-btn {
    &.style1 {
        color: $title-color;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        i,
        svg {
            margin-left: 0px;
        }
    }

    &.style3 {
        display: inline-block;
        background: $theme-color;
        color: $title-color;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;

        i,
        svg {
            path {
                fill: $white;
            }
        }
    }
}

//>>>>> Component Button End <<<<<//