
.cta-container-wrapper  {
    &.style2 {
        position: relative;
        z-index: 5;
        margin-bottom: -120px;

        @include breakpoint (max-xl) {
            margin-bottom: 80px;
        }
    }
}


.cta-wrapper {
    &.style1 {
        position: relative;
        border-radius: 50px;
        background: $theme-color;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;

        .shape1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .shape2 {
            position: absolute;
            bottom: 60px;
            left: -130px;
            z-index: 1;
        }

        .shape3 {
            position: absolute;
            bottom: 57px;
            right: 400px;
            z-index: 1;
        }

        .shape4 {
            position: absolute;
            top: 53px;
            right: 0;
            z-index: 1;
        }

        .cta-content {
            position: relative;
            z-index: 3;

            .section-title {
                margin-bottom: 45px;
            }

            .playstore {
                margin-right: 20px;

                @include breakpoint (max-md) {
                    display: block;
                    margin-bottom: 20px;
                }

            }
        }

        .cta-thumb {
            position: relative;
            z-index: 3;

            @include breakpoint (max-xl) {
               img {
                max-width: 100%;
               }
            }
        }
    }

    &.style2 {
        padding: 50px 60px;
        background-color: $theme-color;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        @include breakpoint (max-md) {
            padding: 50px 15px;
        }
        .cta-content {
            h2 {
                color: $white; 
                font-family: $title-font;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 48px;  
                margin-bottom: 20px;
            }

            p {
                color: $white; 
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;  
            }
        }

        .cta-meta {
            display: flex;
            align-items: center;
            gap: 15px;

            @include breakpoint (max-md) {
                flex-direction: column;
            }
        }
}
}